@import "tailwindcss";

@layer base {
  :root {
    font-family: monospace;
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    text-align: center;
  }
}
